/* globals.css */

/* Importation de Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Vous pouvez ajouter des styles globaux personnalisés ici */
body {
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  background: #0b0b0e; /* Un noir profond très légèrement nuancé */
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #0b0b0e;
}

::-webkit-scrollbar-thumb {
  background: #2c2c34;
  border-radius: 8px;
}


